<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <body>
      <% include ./partials/header %>
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
        <main role="main" class="inner cover">
          <h1 class="cover-heading">Bonilão 2018.</h1>
          <p class="lead">Mais uma vez chegou a hora de mostrar todo o seu conhecimento no bolão mais resenha do Brasil!</p>
          <p class="lead">Boa copa a todos e bora Brasil minha porra!</p>
          <img src="img\flags\brazil.png" class="mb-3 img-fluid rounded">
        </main>
        <p class="lead">
          <a href="./results" class="btn btn-lg btn-secondary">Resultados</a>
        </p>
        <p class="lead">
          <a href="./guesses" class="btn btn-lg btn-secondary">Palpites</a>
        </p>
        <p class="lead">
          <a href="./ranking" class="btn btn-lg btn-secondary">Ranking</a>
        </p>
        <p class="lead">
          <a href="./points" class="btn btn-lg btn-secondary">Pontuação</a>
        </p>
      </div>
      
      <% include ./partials/scripts %>
    </body>
 </html>