<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>

    <div class="page-box container d-flex flex-column">

      <div>
        <div class="d-flex align-self-center align-items-center p-2">
          <i class="title-icon fas fa-star"></i>
          <h4 class="m-0">Ranking</h4>
        </div>
      </div>
        
      <div>
        <div class="container-fluid d-flex flex-column">

          <% points.forEach(function(user, index) { %>
            <% include ./subviews/user-rank %>
          <% }); // points.forEach %>

        </div>
      </div>
    </div>

    <% include ./partials/scripts %>
  </body>
 </html>