<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <body>
      <% include ./partials/header %>
  
      <div class="container">
          <div class="row">
            <h4 class="d-flex align-items-center">
              <i class="title-icon fas fa-user"></i>
              <strong>Ranking</strong>
            </h4>
          </div>
            
          <div class="row">
            <div class="container">
              <div class="list-group">
                <% points.forEach(function(entry, index) { %>
                <div class="list-group-item">
                  <div class="row">
                    <div class="col-2 float-left">
                      <img src="<%= entry.photo %>" class="img-fluid rounded float-left">
                    </div>
                    <div class="col-7">
                      <span class="md text-right"><%= entry.name %></span>
                    </div>
                    <div class="col-3">
                      <span class="md text-center ranking-points"><%= entry.points %></span>
                    </div>
                  </div>
                </div>
                <% }); %>
              </div>
            </div>
          </div>
        </div>
      <% include ./partials/scripts %>
    </body>
 </html>