<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/header %>

    <div class="page-box container d-flex flex-column">
      <div>
        <div class="d-flex align-self-center align-items-center p-2">
          <i class="title-icon fas fa-clipboard-check"></i>
          <h4 class="m-0">Resultados</h4>
        </div>
      </div>
        
      <div>
        <div class="container-fluid d-flex flex-column">

          <% if (matches.length > 0) { %>
          
            <% matches.forEach(function(match, index) { %>
              <% include ./subviews/match-header-with-score %>
            <% }); // matches.forEach  %>

          <% } else { %>

            <div>Nenhum resultado.</div>

          <% } %>
        
        </div>
      </div>
    </div>

    <% include ./partials/scripts %>
  </body>
</html>