<div class="user-guess-box container-fluid d-flex justify-content-between align-items-center align-self-center border-bottom p-1">
    <div>
      <img src="<%= user.photo %>" class="img-fluid rounded user-photo-thumbnail">
    </div>
    <div class="w-75"><%= user.rank + 1 %>. <%= user.name %></div>
    <div><%= user.points %></div>
</div>