body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.title-icon {
  padding: .2em;
}

.guess-name {
  vertical-align: middle;
  font-size: .8em;
}

.guess-score {
  font-weight: bold;
  vertical-align: middle;
  font-size: .8em;
}